
@{
    ViewBag.Title = "Garantee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    p {
        font-size: 1.2em;
        text-align: justify;
        margin-top: 20px;
    }

    .about-content {
        margin-top: 50px;
        padding: 10px;
    }

    h3 {
        text-align: center;
    }

    h4 {
        margin-top: 20px;
    }
</style>
<div class="container">
    <div class="about-content jumbotron">
        <h3>
        <strong>گارانتی</strong>
        </h3>
        <p>
            تمامی کالا های ارائه شده در کوک واچ دارای گارانتی و خدمات پس از فروش بین المللی می باشند. مدت گارانتی ، شرایط گارانتی و کلیه اطلاعات فنی مربوط به هر کالا به طور کامل در دفترچه (کارت) گارانتی یا دفترچه راهنمای آن کالا، درج شده است .
        </p>
        <p>
            لذا پس از دریافت کالا،  آن را به طور کامل مطالعه نمایند در غیر اینصورت مسئولیت ناشی از مشکلات احتمالی در این حیطه به عهده مشتری خواهد بود.
        </p>

    </div>

</div>

