
@{
    ViewBag.Title = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    p {
        font-size: 1.2em;
        text-align: justify;
        margin-top: 20px;
    }

    .about-content {
        margin-top: 50px;
        padding: 10px;
    }

    h3 {
        text-align: center;
    }

    h4 {
        margin-top: 20px;
    }
</style>


<div class="container">
    <div class="about-content jumbotron">
        <h3>
        <strong>
        حریم خصوصی
        </strong>
        </h3>
        <p>
            کوک واچ ضمن احترامی که برای حریم شخصی کاربران قائل است، برای خرید، ثبت نظر یا استفاده از برخی امکانات وب سایت اطلاعاتی را از کاربران درخواست می‌کند تا بتواند خدماتی امن و مطمئن را به کاربران ارائه دهد. برای پردازش و ارسال سفارش، اطلاعاتی مانند آدرس، شماره تلفن و ایمیل مورد نیاز است و از آنجا که کلیه فعالیت‌های کوک واچ قانونی و مبتنی بر قوانین تجارت الکترونیک صورت می‌گیرد، مشتریان می‌توانند نام ، کد ملی، آدرس و تلفن را برای تحویل گرفتن سفارش وارد کنند و کوک واچ تنها برای ارسال سفارش، از این اطلاعات استفاده خواهد کرد.
        </p>
        <p>
            همچنین کوک واچ  ممکن است برای ارتباط با مشتریان، بهینه سازی محتوای وب سایت و تحقیقات بازاریابی از برخی اطلاعات استفاده کند و برای اطلاع رسانی رویدادها و اخبار، خدمات و سرویس‌های ویژه یا پروموشن‌ها، برای اعضای وب سایت ایمیل یا پیامک ارسال نماید. در صورتی که کاربران تمایل به دریافت اینگونه ایمیل و پیامک‌ها نداشته باشند، می‌توانند عضویت دریافت خبرنامه کوک واچ را در پروفایل خود لغو کنند.
        </p>
        <p>
            کوک واچ ممکن است نقد و نظرهای ارسالی کاربران را در راستای رعایت قوانین وب سایت ویرایش کند. همچنین اگر نظر یا پیام ارسال شده توسط کاربر، مشمول مصادیق محتوای مجرمانه باشد، کوک واچ می‌تواند از اطلاعات ثبت شده برای پیگیری قانونی استفاده کند.
        </p>
        <p>
            حفظ و نگهداری رمز عبور بر عهده کاربران است و برای جلوگیری از هرگونه سوء استفاده احتمالی، کاربران نباید آن را برای شخص دیگری فاش کنند. کوک واچ هویت شخصی کاربران را محرمانه می‌داند و اطلاعات شخصی آنان را به هیچ شخص یا سازمان دیگری منتقل نمی‌کند، مگر اینکه با حکم قانونی مجبور باشد در اختیار مراجع ذیصلاح قرار دهد.
        </p>
        <p>
            کوک واچ همانند سایر وب سایت‌ها از جمع آوری IP و کوکی‌ها استفاده می‌کند، اما پروتکل، سرور و لایه‌های امنیتی کوک واچ و روش‌های مناسب مدیریت داده‌ها اطلاعات کاربران را محافظت و از دسترسی‌های غیر قانونی جلوگیری می‌کند.
        </p>
        <p>
            کوک واچ برای حفاظت و نگهداری اطلاعات و حریم شخصی کاربران همه توان خود را به کار می‌گیرد و امیدوار است که تجربه‌ی خریدی امن، راحت و خوشایند را برای همه کاربران فراهم آورد.
        </p>
    </div>


</div>

