
@{
    ViewBag.Title = "ReturnGoods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    p {
        font-size: 1.2em;
        text-align: justify;
        margin-top: 20px;
    }

    .about-content {
        margin-top: 50px;
        padding: 10px;
    }

    h3 {
        text-align: center;
    }

    h4 {
        margin-top: 20px;
    }
</style>

<div class="container">
    <div class="about-content jumbotron">
        <h3><strong>رویه های بازگشت کالا</strong></h3>
        <h4>
           <strong>مواردی که مشمول گارانتی نمی شوند</strong>
        </h4>
        <p>
            - هرگونه شکستگی در هر نقطه از کالا.
        </p>
        <p>
            -  موارد مصرفی مثل باطری.
        </p>
        <p>
            -  مشکلات ناشی از هرگونه مجاورت کالا با دستگاه هایی که امواج ماکروویو یا الکترومغناطیسی منتشر می کنند
        </p>
        <p>
            -  مشکلات ناشی از هرگونه تماس کالا با مواد اسیدی و شوینده قوی.
        </p>
        <p>
            -  استهلاک عمومی کالا در اثر استفاده روزمره.
        </p>
        <p>
            -  استفاده ناصحیح و خارج از مواردی که در زمره ویژگی های کالا (که در دفترچه راهنمای آن ذکر شده) باشد.
        </p>
        <p>
            -  همراه نداشتن کارت یا دفترچه ضمانت در زمان تعمیر.
        </p>
        <p>
            - باز شدن درب ساعت توسط مراکزی غیر از مرکز خدمات پس از فروش اصلی شرکت وارد کننده آن برند.
        </p>
    </div>

</div>