@model ClockStore.DTO.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="clearfix" style="margin-top:50px"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4 text-center">
                        انتخاب زبان
                    </div>
                    <div class="col-md-8">
                        @Html.Action("GenerateLanguageDropDownList", "Language", null)
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4 text-center">
                        عنوان
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="CategoryName" name="CategoryName" class="form-control" required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4 text-center">
                        تصویر
                    </div>
                    <div class="col-md-8">
                        <input type="file" id="image" class="form-control" name="image" required />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4 text-center">

                    </div>
                    <div class="col-md-8">
                        <input type="submit" value="دخیره" class="btn btn-success" />
                        @Html.ActionLink("بازگشت", "Index", "", new { @class = "btn  btn-primary" })
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
}


