
@{
    ViewBag.Title = "AboutUS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    p{
        font-size:1.2em;
        text-align:justify;
        margin-top:20px;
    }
    .about-content{
        margin-top:50px;
        padding:10px;

    }
    h3{
        text-align:center;
    }
    h4{
        margin-top:20px;
    }
</style>
<div class="container">
    <div class="about-content jumbotron">
        <h3>
            <strong>
                درباره ما
            </strong>

        </h3>
        <p>
            فرایند انتخاب و خرید ساعت به عنوان کالایی به شدت تخصصی، همواره پیچیدگی‌‌‏‌های فراوانی برای مصرف کننده به همراه داشته و در عین حال، به دلیل هزینه‌‌‏‌های نسبتا بالا و وجود نمونه های غیر اصل، حساسیت بسیار بالایی را برای مشتریان در بر دارد.
            در عصر دیجیتال، سلیقه و رفتار مصرف کنندگان به سرعت تغییر می کند،
            کوک واچ با ارائه نامدارترین برندهای ساعت جهان، با تنوعی بی‏‌نظیر در گروه‌‏‌های مختلف کاربردی مانند ساعت مچی، دیواری، رومیزی و غیره، و سرمایه گذاری در ایجاد زیر ساخت های پیشرفته سخت افزاری و نرم افزاری برای تولید و ارائه محتوای فنی مورد نیاز کاربران با بالاترین استانداردها، نهایت تلاش خود را کرده است تا با حفظ جایگاهی بی‌‌‏‌طرفانه، به مشتریان و کاربران خود کمک کند تا با حق انتخابی بسیار بالا و با دریافت اطلاعاتی کامل برای انتخاب درست کالای مورد نظر خود، وب سایت کوک واچ را بررسی کنند و با حداکثر اطمینان و بیشترین سهولت کالای مورد نیاز خود را انتخاب و خریداری کنند.
        </p>
        <p>
            کوک واچ از هرگونه تلاش، جهت بالا بردن کیفیت خرید مشتریان خود دریغ نمی‏‌کند و همواره تلاش می‏‌کند تا با بهره گیری از به روز ترین متدهای کیفیت ارائه خدمات و مدیریت ارتباط با مشتری (CRM) در طول فرآیند خرید یعنی پیش، حین و پس از خرید، بیاد ماندنی ترین خرید را برای کاربران و مشتریان خود خلق کند.
        </p>
        <h4>
              *** ظرفیت های کوک واچ   
        </h4>
        <p>
            * اخذ کلیه مجوزهای لازم از سازمان های مربوطه از جمله وزارت صنعت، معدن و تجارت ، وزارت فرهنگ و ارشاد اسلامی ، اتحادیه کشوری کسب و کارهای مجازی، اتحادیه سازندگان و فروشندگان و تعمیرکاران ساعت  و انجمن صنفی کسب و کارهای اینترنتی.
        </p>
        <p>
             * بکارگیری برنامه نویسان و طراحان گرافیک متخصص، جهت طراحی فنی و گرافیکی منحصر به فرد و به روزرسانی های مسستمر.
        </p>
        <p>
            * بکارگیری کارشناسان کارآمد، جهت ارائه مشاوره تخصصی به کاربران
        </p>
        <p>
            * بکارگیری کارشناسان تولید محتوا، جهت تهیه و درج اطلاعات تخصصی و جامع 
        </p>
        <p>
            * استفاده از جدیدترین تکنیک های جستجو و فیلترینگ محصول، مطابق با استانداردهای بین المللی تجارت الکترونیک.
        </p>
        <p>
            * ایجاد واحد خدمات پس از فروش جهت راهنمایی کاربران، در مواقع بروز مشکلات احتمالی.
        </p>
        <p>
            * بارگذاری مطالب آموزنده جهت فرهنگ سازی، آگاهی رسانی و اشتراک گذاری جدیدترین مقالات، اخبار و رویدادها در رابطه با صنعت ساعت در ایران و جهان.
        </p>
        <p>
            * استفاده از بازاریابی الکترونیک و اینترنتی جهت تشویق و هدایت مخاطبان به خرید ساعت های اصل و اجتناب از خرید محصولات بی کیفیت
        </p>
        <p>
            * همکاری اثربخش و مستمر با شرکت های وارد کننده برندهای معتبر جهت معرفی و ارائه محصولات به مشتریان هدف  
        </p>
    </div>
    
</div>
