@model ClockStore.DTO.Slider

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}



@using (Html.BeginForm("Create", "Sliders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="clearfix" style="margin-top:50px"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4 text-center">
                        انتخاب زبان
                    </div>
                    <div class="col-md-8">
                        @Html.Action("GenerateLanguageDropDownList", "Language", null)
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4 text-center">
                        عنوان
                    </div>
                    <div class="col-md-8">
                        <input type="text" id="Title" name="Title" class="form-control" required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4 text-center">
                        تصویر
                    </div>
                    <div class="col-md-8">
                        <input type="file" id="file" class="form-control" name="file" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4 text-center">
                        اسلاید اصلی است؟
                    </div>
                    <div class="col-md-8">
                        <input type="checkbox" id="IsMainSlider" name="IsMainSlider" />

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4 text-center">
                        لینک
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="Link" id="Link" />

                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-2 text-center">
                    توضیحات
                </div>
                <div class="col-md-10">
                    <textarea id="Description" name="Description" style="height:200px" class="form-control"></textarea>

                </div>


            </div>





            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-4 text-center">

                    </div>
                    <div class="col-md-8">
                        <input type="submit" value="دخیره" class="btn btn-success" />
                        @Html.ActionLink("بازگشت", "Index", "", new { @class = "btn  btn-primary" })
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
}



